{% if not logo %}
{% set logo = 'ganimides_logo.gif' %}
{% endif %}
{% if not application_name %}
{% set application_name = 'leandrou-technology-forward-ltd' %}
{% endif %}
{% if not application_color %}
{% set application_color = 'blue' %}
{% endif %}

{% if not copywrite %}
{% set copywrite = 'leandrou-technology-forward-ltd, 2019' %}
{% endif %}
{% if not title %}
{% set title = 'code verification' %}
{% endif %}

{% if message_type == 'success' %}
{% set msg_color='green' %}
{% set error_code=0 %}
{% elif message_type == 'error' %}
{% set msg_color='red' %}
{% else %}
{% set msg_color='orange' %}
{% endif %}

{% if not error_code %}
{% if message_type == 'error' %}
{% set error_code=101 %}
{% else %}
{% set error_code=11 %}
{% endif %}
{% endif %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="{{ url_for('static', filename=logo)}}">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <!-- <link href="../static/signin.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signin.css') }}" /> -->

    <!-- load java script form google -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- load recaptcha form google -->
    <script src='https://www.google.com/recaptcha/api.js'></script>

  </head>
  <style>
    .digit {
      margin: 0 1px;
      text-align: center;
      line-height: 60px;
      font-size: 40px;
      border: solid 1px #ccc;
      box-shadow: 0 0 5px #ccc inset;
      outline: none;
      width: 2.5rem;
      /*10%;*/
      transition: all .2s ease-in-out;
      border-radius: 3px;
      color: red;
    }
  </style>

  <body class="text-center bg-white">
    <div class="container-fluid bg-white fixed-top column">
      <img class="" src="{{ url_for('static', filename=logo)}}" alt="{{application_name}}" width="40vw" height="40vw">
      <h1 class="font-weight-bold" style="font-size:3vw;color: {{application_color}}">{{application_name}}</h1>
      <div class="rounded m-1 text-left ">
        {% if error_code >= 400 %}

        <div class="media">
          <img class="align-self-center" src="{{ url_for('static', filename='technical_error.png') }}" alt="" width="40vw" height="40vw">
          <div class="media-body column  m-0 p-0">
            <h5 class="m-0 p-0 pt-2 pb-2 text-warning" style="font-size:5vw">Oops!</h5>
          </div>
        </div>

        <div class="container-fluid bg-white p-0 m-0">
          <div class="row  m-0 p-0">
            <div class="media mr-1">
              <img class="align-self-center mr-1 " src="{{ url_for('static', filename='attention.jpg') }}" alt="" width="40vw" height="40vw">
              <div class="media-body column  m-0 p-0 pr-0">
                <div class=" m-0 p-0">
                  <h5 class="m-0 p-0 " style="color:{{msg_color}}">{{message}}</h5>
                </div>
                {% if secondary_message %}
                <div class="m-0 p-0 pt-1">
                  {{secondary_message}}
                </div>
                {% endif %}
              </div>
            </div>

            {% if message_description %}
            <div class="ml-2 mt-1 pr-1  font-size:5vw;">
            {{message_description}}
            </div>
            {% endif %}

          </div>
        </div>


        {% else %}
        <div class="container-fluid bg-white p-0 m-0">
          <div class="row  m-0 p-0">
            <div class="media mr-1">
              {% if message_type == 'error' %}
                <img class="align-self-center mr-1 " src="{{ url_for('static', filename='attention.jpg') }}" alt="" width="40vw" height="40vw">
              {% elif message_type == 'success' %}
                <img class="align-self-center mr-1 " src="{{ url_for('static', filename='OK.jpg') }}" alt="" width="40vw" height="40vw">
              {% else %}
                <img class="align-self-center mr-1 " src="{{ url_for('static', filename='sunny.jpeg') }}" alt="" width="40vw" height="40vw">
              {% endif %}
              <div class="media-body column  m-0 p-0 pr-0">
                <div class=" m-0 p-0">
                  <h5 class="m-0 p-0 " style="color:{{msg_color}}">{{message}}</h5>
                </div>
                  {% if secondary_message %}
                  <div class="m-0 p-0 pt-1">
                    {{secondary_message}}
                  </div>
                  {% endif %}
              </div>
            </div>

            {% if message_description %}
            <div class="ml-2 mt-1 pr-1  font-size:5vw;">
            {{message_description}}
            </div>
            {% endif %}

          </div>
        </div>
        {% endif %}
      </div>
      <div class="text-center m-0 p-0">
        <p class="p-0 text-muted small">© {{copywrite}}</p>
      </div>
    </div>

  </body>

</html>